---
---
<footer>
    <div class="font-light bg-sky-100/50 dark:bg-slate-800/50 backdrop-blur-lg h-20 w-screen flex z-40 justify-between shadow-md hover:shadow-lg dark:shadow-slate-800 dark:hover:shadow-slate-700 shadow-slate-400 hover:shadow-slate-500 transition">
        <h1 class="text-xl sm:text-2xl font-medium pt-7 sm:pt-6 ml-4 float-left">Shu/Outstndrs</h1>
        <div class="p-4">
            <h2 class="text-md text-gray-100/50">This site is made by Astro&TailwindCSS</h2>
        </div>
    </div>
</footer>